<div class="fluid-container">
    <div class="row navbar-design">
        <div class="col-4 text-white h5 text-center"><a href="/register">Register</a></div>
        <div class="col-4 text-white h5 text-center"><a href="/login">LogIn</a></div>
        <div class="col-4 text-white h5 text-center"><a href="">Tutorial</a></div>
    </div>
</div>